body {
    font-family: monospace;
    transition: background-color 1.5s ease;
}

.theme_light{
    background-color: #B3E4DE;

}
.theme_dark{
    background-color: #0A001B;
}
.theme_transition{
    background-color: #5F727D;
}

.image_container {
    position: relative;
    overflow: hidden; /* Empêche l'image de sortir du conteneur */
    display: block;
}

/* Applique un zoom lors du survol */
.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease; /* Animation douce pour le zoom */
}

/* Ajout du voile blanc par défaut, avec plus d'opacité */
.image_container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Le voile couvre 50% de l'image de base */
    background: linear-gradient(to top, #B3E4DE, rgba(255, 255, 255, 0));
    /* Opacité augmentée à 0.9 pour rendre le voile plus visible */
}

.titre_projet{
    font-size: 2.8vw;
    font
}

/* Zoom sur l'image sans sortir du conteneur */
.image_container:hover img {
    transform: scale(1.2); /* Zoom à 120% */
}

.icon_github{
    width: 3.5vw;
}

.icon_theme{
    color: #5F727D;
    font-size: 5vh;
    padding: 1vw 1vw 1vw 1vw;
}
.container_propos{
    height: 90vh;
    justify-content: space-around;
}

.main_page{
    height: 90vh;
    max-width: 98vw;
    display: flexbox;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.nav_icons{
    display: flex;
    height: 10vh;
    justify-content: end;
}

.image_intro{
    max-height: 50vh;
    transition: opacity 1s ease;
}
.fade {
    opacity: 1;
}
.fade-out {
    opacity: 0;
}
.description{
    display: flexbox;
    height: 90vh;
    max-width: none;
    flex-direction: column;
    align-items: center;
}
.description_left{
    transition: transform 1s ease;
    font-size: 5vw;
    padding: 5vw 5vw;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.description_left:hover{
    transform: scale(1.1);
}
.description_right {
    transition: transform 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description_right:hover{
    transform: scale(1.1);
}
.description_title{
    justify-content: center;
    font-size: 2em;
    padding-bottom: 3%;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
.projects{
    display: flexbox;
    flex-wrap: wrap;
}
@media(min-width: 768px){
    .description{
        flex-direction: row;
    }

    .description_left{
        font-size: 2em;
        text-align: center;
        justify-content: center;
        padding: 2vw 5vw 1vw 5vw;
    }

    .description_right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3vh;
    }
    a {
        text-decoration: none;
        /* color: blue; */
    }
    .image_intro{
        max-height: 60vh;
    }
    .projects{
        display: flexbox;
        flex-wrap: wrap;
    }
}
@media(min-width: 1024px){
    .description{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
    .description_left{
        width: 40vw;
        font-size: 2em;
        text-align: center;
        justify-content: center;
        border: 5px;
        border-color: red;
    }

    a {
        text-decoration: none;
        /* color: red; */
    }
    .description_right {
        max-width: 50vw;
        /* width: 49vw; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image_intro{
        /* max-height: 800vh; */
    }
    .projects{
        display: flexbox;
        flex-wrap: wrap;
    }
}