body {
    display: flexbox;
    background-color: #b3e4de;
}
span{
    font-family: monospace;
}
h2{
    font-family: monospace;
}
.image_intro{
    max-height: 60vh;
}
.description{
    display: flexbox;
    height: 100vh;
    max-width: none;
    flex-direction: column;
}
.description_left{
    font-size: 2em;
    padding: 5vw 5vw;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.description_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.description_title{
    justify-content: center;
    font-size: 2em;
    padding-bottom: 3%;
}
a {
    text-decoration: none;
    color: white;
}
.projects{
    display: flexbox;
    flex-wrap: wrap;
}
@media(min-width: 768px){
    .description{
        flex-direction: row;
    }

    .description_left{
        font-size: 2em;
        text-align: center;
        justify-content: center;
        padding: 2vw 5vw 1vw 5vw;
    }

    .description_right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image_intro{
        max-height: 60vh;
    }
    .projects{
        display: flexbox;
        flex-wrap: wrap;
    }
    a {
        color: red;
    }
}
@media(min-width: 1024px){
    .description{
        align-items: start;
        justify-content: flex-start;
        flex-direction: row;
    }
    .description_left{
        width: 40vw;
        font-size: 2em;
        text-align: center;
        justify-content: center;
    }

    .description_right {
        width: 49vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image_intro{
        max-height: 800vh;
    }
    .projects{
        display: flexbox;
        flex-wrap: wrap;
    }
    a {
        color: blue;
    }
}