<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Freminet Baptiste</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        <script href="js/styles.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <section id="skills">
            <h2>Mes Compétences</h2>
            <ul>
                <li><a href="/projects.html">HTML/CSS</a></li>
                <li><a href="/projects.html">JavaScript</a></li>
                <li><a href="/projects.html">PHP</a></li>
                <li><a href="/projects.html">Java</a></li>
                <li><a href="/projects.html">Python</a></li>
                <li><a href="/projects.html">Base de données (SQL/NoSQL)</a></li>
            </ul>
        </section>
        <section id="contact">
            <h2>Contact</h2>
            <span>Vous pouvez me contacter via :</span>
            <ul>
                <li>Email : <a href="baptiste.freminet@gmail.com">baptiste.freminet@gmail.com</a></li>
                <li>LinkedIn : <a href="https://www.linkedin.com/in/baptiste-freminet" target="_blank">Mon LinkedIn</a></li>
                <li>GitHub : <a href="https://github.com/Fayeur9" target="_blank">Mon GitHub</a></li>
            </ul>
        </section>
    </body>
</html>
