<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Freminet Baptiste</title>
        <link rel="stylesheet" href="../css/adminlte.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <!-- <script src="js/styles.js"></script> -->
    </head>
    <body id="id_body" class="theme_transition">
        <nav class="nav_icons">
            <div class="col-6">
                <!-- <a href="../index.html">
                    <i class="fa-solid fa-house icon_light_theme icon_theme"></i>
                </a> -->
                <a href="test.html">
                    <i class="fa-solid fa-house icon_light_theme icon_theme"></i>
                </a>
            </div>
            <div class="">
                <i id="icon_theme" class="fa-regular fa-sun icon_theme"></i>
            </div>
        </nav>
        <main class="main_page pl-lg-3">
            <div class="row p-2 ml-1 border border-dark container_propos text-center">
                <div class="border border-danger col-lg-3 col-md-5">
                    <div class="image_container">
                        <img src="../media/Janoschka.png" alt="" class="image_projets rounded-sm"></img>
                    </div>
                    <div class="titre_projet">Projet alternance BTS: ERP from scratch</div>
                    <span>
                        Durant ma seconde année de bts j'ai développé avec l'aide de mes 
                        collègues des modules dans un erp comprenant gestion des clients, du stock, des tâches, des employés, etc...
                    </span>
                    <img src="../media/github.png" alt="" class="icon_github">
                </div>
                <div class="border border-info  col-lg-3 col-md-5">
                    <div class="image_container">
                        <img src="../media/exemple_projet_1.png" alt="" class="image_projets rounded-sm"></img>
                    </div>
                    <div>Application android</div>
                    <span>
                        Durant ma seconde année de bts j'ai développé une application android pour la boite d'ambulance de 
                        mon père qui s'occupait de la gestion des patients et des rendez-vous des employés de la journée.
                    </span>
                    <img src="../media/github.png" alt="" class="icon_github">
                </div>
                <div class="border border-success col-lg-3 col-md-5">
                    <div class="image_container">
                        <img src="../media/CEE.png" alt="" class="image_projets rounded-sm"></img>
                    </div>
                    <h1>Projet alternance Bachelor: ERP sous Odoo pour Confort&Eau</h1>
                    <span>
                        Dans le cadre de mon bachelor, je suis en charge du développement de customisation sur l'ERP
                        Odoo pour mieux correspondre aux besoins et contraintes de mon entreprise.
                    </span>
                    <img src="../media/github.png" alt="" class="icon_github">
                    <span></span>
                </div>
            </div>
        </main>
        <script src="../js/styles.js"></script>
    </body>
</html>
