<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Freminet Baptiste</title>
        <link rel="stylesheet" href="../css/adminlte.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <!-- <script src="js/styles.js"></script> -->
    </head>
    <body id="id_body" class="theme_transition">
        <nav class="nav_icons">
            <div class="col-6">
                <!-- <a href="../index.html">
                    <i class="fa-solid fa-house icon_light_theme icon_theme"></i>
                </a> -->
                <a href="../index.html">
                    <i class="fa-solid fa-house icon_light_theme icon_theme"></i>
                </a>
            </div>
            <div class="">
                <i id="icon_theme" class="fa-regular fa-sun icon_theme"></i>
            </div>
        </nav>
        <main class="main_page pl-lg-3">
            <div class="row p-2 ml-1 container_propos text-center">
                <div class="col-lg-3 col-md-5 container_projet">
                    <div class="image_container">
                        <img src="../media/Janoschka.png" alt="" class="image_projets rounded-sm"></img>
                    </div>
                    <h3>Projet alternance BTS: ERP from scratch</h3>
                    <span>
                        Durant ma seconde année de bts j'ai développé avec l'aide de mes collègues des modules dans
                        un ERP comprenant la gestion des clients, du stock, des tâches, des employés, etc...
                    </span>
                    <div class="container_icons">
                        <a href="https://www.janoschka.com/global/d/janoschka-angouleme-sas/" target="_blank"><i class="fa-solid fa-globe icon_project_light"></i></a>
                    </div>
                    <!-- <img src="../media/github.png" alt="" class="icon_github"> -->
                </div>
                <div class="col-lg-3 col-md-5 container_projet">
                    <div class="image_container">
                        <img src="../media/android_studio.png" alt="" class="image_projets rounded-sm"></img>
                    </div>
                    <h3>Application android</h3>
                    <span>
                        Durant ma seconde année de bts j'ai développé une application android sous android studio pour la boite d'ambulance de
                        mon père qui s'occupait de la gestion des patients et des rendez-vous des employés de la journée.
                    </span>
                    <div class="container_icons">
                        <a href="https://github.com/Fayeur9/app_android.git" target="_blank">
                            <img src="../media/github.png" alt="" class="icon_project_light">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 container_projet">
                    <div class="image_container">
                        <img src="../media/CEE.png" alt="" class="image_projets rounded-sm"></img>
                    </div>
                    <h3>Projet alternance Bachelor: ERP sous Odoo pour Confort&Eau</h3>
                    <span>
                        Dans le cadre de mon bachelor, je suis en charge du développement de customisation sur l'ERP
                        Odoo pour mieux correspondre aux besoins et contraintes de mon entreprise.
                    </span>
                    <div class="container_icons">
                        <a href="https://www.conforteteau.com/" target="_blank">
                            <i class="fa-solid fa-globe icon_project_light"></i>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <script src="../js/styles.js"></script>
    </body>
</html>
