<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Freminet Baptiste</title>
        <!-- Import librairies css -->
        <link rel="stylesheet" href="../css/adminlte.min.css">
        <!-- Import css après la librairie pour la réécrire si besoin -->
        <link rel="stylesheet" href="../css/styles.css">
        <!-- Import icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body id="id_body" class="theme_transition">
        <nav class="nav_icons">
            <!-- home button -->
            <div class="col-6">
                <a href="../index.html">
                    <i class="fa-solid fa-house icon_light_theme icon_theme"></i>
                </a>
            </div>
            <!-- switch theme button -->
            <i id="icon_theme" class="fa-regular fa-sun icon_theme"></i>
        </nav>
        <main class="main_page pl-lg-3">
            <div class="row p-2 ml-1 container_propos text-center">
                <!-- projet ERP Janoschka -->
                <div class="col-lg-3 col-md-5 mb-sm-4 mb-xs-5 pb-sm-5 pb-xs-5 container_projet">
                    <div class="image_container">
                        <img src="../media/Janoschka.png" alt="" class="image_projets rounded-sm"></img>
                    </div>
                    <h3>Projet alternance BTS: ERP from scratch</h3>
                    <span>
                        Durant ma seconde année de bts j'ai développé avec l'aide de mes collègues des modules dans
                        un ERP comprenant la gestion des clients, du stock, des tâches, des employés, etc...
                    </span>
                    <div class="container_icons">
                        <a href="https://www.janoschka.com/global/d/janoschka-angouleme-sas/" target="_blank"><i class="fa-solid fa-globe icon_project_light"></i></a>
                    </div>
                    <!-- <img src="../media/github.png" alt="" class="icon_github"> -->
                </div>
                <!-- projet app Android -->
                <div class="col-lg-3 col-md-5 mb-sm-4 mb-xs-5 pb-sm-5 pb-xs-5 container_projet">
                    <div class="image_container">
                        <img src="../media/android_studio.png" alt="" class="image_projets rounded-sm"></img>
                    </div>
                    <h3>Application android</h3>
                    <span>
                        Durant ma seconde année de bts j'ai développé une application android sous android studio pour la boite d'ambulance de
                        mon père qui s'occupait de la gestion des patients et des rendez-vous des employés de la journée.
                    </span>
                    <div class="container_icons">
                        <a href="https://github.com/Fayeur9/app_android.git" target="_blank">
                            <img src="../media/github.png" alt="" class="icon_project_light">
                        </a>
                    </div>
                </div>
                <!-- projet ERP odoo Confort & Eau -->
                <div class="col-lg-3 col-md-5 mb-sm-4 mb-xs-5 pb-sm-5 pb-xs-5 container_projet">
                    <div>
                        <div class="image_container">
                            <img src="../media/CEE.png" alt="" class="image_projets rounded-sm"></img>
                        </div>
                        <h3>Projet alternance Bachelor: ERP sous Odoo pour Confort&Eau</h3>
                        <span class="mb-3 pb-3">
                            Dans le cadre de mon bachelor, je suis en charge du développement de customisation sur l'ERP
                            Odoo pour mieux correspondre aux besoins et contraintes de mon entreprise.
                        </span>
                        <div class="container_icons">
                            <a href="https://www.conforteteau.com/" target="_blank">
                                <i class="fa-solid fa-globe icon_project_light"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- import js après le chargement du DOM -->
        <script src="../js/styles.js"></script>
    </body>
</html>
